<p id="notice"><%= notice %></p>

<p>
  <strong>Head1:</strong>
  <%= @field.head1 %>
</p>

<p>
  <strong>Head2:</strong>
  <%= @field.head2 %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
